body{
    background-color: lavender;

}

/* type */

#div{
    background-color: rgb(238, 184, 137);
}

/* ID */

.list-item{
    background-color: darkseagreen;
}

/* class */

.main-heading{
    background-color: lightblue;
}

#first-paragraph{
    background-color: lightcoral;
}

.nav-item{
    background-color: mediumpurple;
}

#nav-gold{
    background-color: gold;
}